/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@500&display=swap');
/* common style  */
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
background-color:  #aaaaaa32;
}
.container{
    margin-left: 80px;
    margin-right: 80px;
}
/* camera part style  */
.camera-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .camera-details{
    width: 50%;
} 
.camera-image{
    width: 50%;
}
.button ,a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 5px;
    border: white;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.5);
}

/*  popular collection part style  */

.all-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}
.product{
    padding: 12px;
    background-color: white;
    border-radius: 7px;
}
.product-image img{
    width:100% ;
}
.product-details i{
    color: #ffc014;
}

/* see more style  */

#see-more{
    margin:10px 0;
    color: #E02C6DDE; 
    position:absolute;
    right: 90px;
}

/* login part style  */

.login-form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login h3{
    color: #E02C6D;
    text-align: center;
}
.login input,button{
    margin-top: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #E02C6D;
}

/* footer part style */

footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
}

/* making responsive */

/* mobile  */
@media only screen and (max-width:668px){

.camera-flex{
    display: block;
}
 .camera-details{
    width: 100%;
} 
.camera-image img{
    width: 182%;
}
.all-products {
    grid-template-columns: repeat(1,1fr);
}            
#see-more{
    margin-top: 10px;
    margin-bottom: 10px;
}
}

/* Tablet  */
 @media only screen and (min-width: 689px) and (max-width: 992px){
    .all-products {
        grid-template-columns: repeat(2,1fr);
    }             
 }